body {
  margin: 0;
  padding: 0;
  background-color: #f1f5f9; /* Soft gray background */
  font-family: 'Inter', system-ui, sans-serif;
}

.app-container {
  max-width: 800px;
  min-height: 400px;
  margin: 30px auto; /* 60px Space at the top, 'auto' centers it */
  background: white;
  border-radius: 20px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1);
  overflow: hidden; /* Clips the navbar to rounded corners */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #e2e8f0;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 800;
  color: #2563eb; /* Blue-600 */
}

.nav-links {
  display: flex;
  gap: 16px;
}

.nav-links button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  color: #94a3b8;
  border: none;
  background: none;
  cursor: pointer;
}

.nav-links button.active {
  color: #2563eb;
}

.form-stack {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input-group-flex {
  display: flex;
  gap: 8px;
  flex-direction: column;
  flex: 1;
}
.input-group-ing {
  display: flex;
  gap: 16px;
}
.input-group-ing-flex {
  flex-grow: 1;
}
.input-group label, .input-group-flex label{
  font-size: 12px;
  font-weight: 700;
  color: #64748b;
}

.row {
  display: flex;
  gap: 16px;
}

.add-btn {
  background: #2563eb;
  color: white;
  margin-top: 8px;
  padding: 16px;
  border-radius: 8px;
  font-weight: 800;
  border: none;
  cursor: pointer;
}
.add-btn:hover {
  background: #2852c0;
}

.add-btn-ing {
  padding: 8px;
  border-radius: 8px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.items {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #f1f5f9;
}

input, select {
  padding: 12px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  background: #f8fafc;
}

textarea {
  min-height: 100px;
  padding: 12px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  background: #f8fafc;
}

/* Table styling for "RecipeList" and "IngredientList" */
table {
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  background-color: #e2e8f0;
  font-weight: bold;
}

.table-header, .table-cell {
  padding: 8px;
  text-align: left;
}

/* Detail View Layout */

.detail-header {
  font-size: 32px;
  font-weight: 700;
  color: #1e293b;
  text-align: center;
}

.detail-card {
margin: 8px 16px 16px 16px;
}

.back-btn {
  margin: 16px 16px;
  text-align: right;
}